.App {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.flex-container {
  width: 100%;
  margin: auto;
  padding: 1px;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  max-width: 1800px;
}

.video {
  width: 50%;
  height: auto;
  margin: 20px auto;

  max-height: 300px;
  max-width: 600px;
  background-color: green;
}

.flex-container div img {
  max-width: 100%;
  height: auto;
}

.flex-container div:first-child {
  width: 80%;
  height: 500px;
  margin: auto;
}

@media screen and (min-width: 692px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container {
    width: 100%;
    margin: auto;
    padding: 1px;
    align-items: center;
    justify-content: center;
    min-width: 400px;
  }

  .flex-container div:first-child {
    width: 80%;
    height: 500px;
    margin-right: 30px;
  }

  .video {
    width: 45%;
    margin: 20px auto;
    background-color: white;
  }

  .video:hover {
    cursor: pointer;
  }
}
